.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {

}

.input:focus {
}

.errorInput {
    border: 2px solid red;
    outline: none;
}

.error-text {
    color: red
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
